--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.37.1
xgboost==2.0.3
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
plotly==5.22.0
joblib==1.4.2
rich==13.7.1
torch==2.2.2+cpu
